---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h2>Vertaalbureau Donna</h2>
        <p>
          <a
            href="https://www.google.nl/maps?f=q&source=s_q&hl=nl&geocode&q=vertaalbureau+donna+leidschendam&sll=52.505982,5.465097&sspn=0.006831,0.013282&ie=UTF8&hq=vertaalbureau+donna&hnear=Leidschendam,+Leidschendam-Voorburg,+Zuid-Holland&ll=52.095908,4.398994&spn=0.026259,0.053129&z=14&iwloc=A"
            >'t Lienplantsoen 34</a>
        </p>
        <p>2264MC Leidschendam</p>
        <p>telefoon: 0703176162</p>
        <p>mobiel: 0653483137</p>
        <p><a href="mailto:info@vb-donna.com">email: info@vb-donna.com</a>
            </p>  
        <p>fax: 0847129887</p>
      </section>
      <Footer />
    </main>
  </body>
</html>
