---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
        <h4>Важна новина за всички желаещи да придобият VCA сертификат:</h4>
       ЗАПОЧНА
      ЗАПИСВАНЕТО ЗА VCA КУРС И ИЗПИТ НА 9 МАЙ 2015! Поради големия интерес към
      обучение и инструктаж на канидати по правилата за осигуряване на
      здравословни и безопасни условия на труд, което от началото на 2012 г.
      агенция „ВБ Донна Вассилева” предлага вече, започна записването на
      кандидат-курсисти за предсгоящия VCA курс, с цел придобиване на VCA
      сертификат. В Холандия при кандидатстване за работа се изисква сертификат
      придобит след преминаване на това обучение, който се получава след успешно
      завършване на курса. На какъв писмен и говорим език се провежда курса и
      изпита? Курсът за обучение и тестове по здравословни и безопасни условия
      на труд е еднодневен и разработен на български език по наличните за
      обучението учебници, написани от нидерландски автори и одобрени от
      компетентния орган, води се на български език и представлява продукт с
      илюстрации, анимации и текстове на български език. Какво представлява
      обучението? Обучението обхваща 10 модула в различни области:
      законодателство, рискове, злополуки, разрешения за извършване на работа,
      опасни вещества, пожар и експлозии, работа в затворени пространства,
      работно оборудване и машини, повдигане и преместване на товари, спъване и
      падане по време на работа, работа на височина, електричество, лични
      предпазни средства и знаци за безопасност на труда. Предвидени ли са
      упражнения? В деня на записването за курса, записаните кандидати получават
      курсовия материал на български език с цел да имат възможност предварително
      да се подготвят по модулите, както и листовки с актуални изпитни въпроси и
      верните отговори за самоподготовка и проверка на наученото. В деня на
      провеждането на курса и изпита има предвидено време и за упражнения. Какво
      представлява изпита? Изпитът предствалява листовка с общо 40 въпроса на
      български език; времетраене 60 минути; максимален брой разрешени грешки
      12. Към всеки въпрос има три открити отговора по избор, като само един от
      трите е верен. Цена на курса и условия за записване. Цената на курса е
      250,00 евро, включваща курсов материал на български език, листовки с
      въпроси и отговори за упражнения и самоподготовка, сертификат за
      издържалите изпита. Записването и заплащането на курса се извършва
      едновременно. Денят за записване се обявява в страницата и с изпращане на
      мсм на заявилите се кандидати. За провеждането на изпита са необходими
      минимално 12 кандидат-кусиста. За повече информация и записване: Тел. 070
      3176162, М 06 53483137
    </main>
    <Footer />
  </body>
</html>
